<div class="nav-bar">

    <Button class="item following"><a href="/follow" id="links">Following</a></Button>
    <button class="item random"><a href="/random" id="links">Random</a></button>
    <a href="/index"><img src="../images/Logo.png" alt="Home"></a>
    <button class="item legBTN"><a href="/legend" id="links">Legend</a></button>
    <button class="item contactBTN"><a href="/contact-us" id="links">Contact</a></Button>

</div>